<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动态高优先权优先进程调度</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid #222;
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }

        tr {
            border: 1px solid #222;
        }

        td {
            border: 1px solid #222;
        }

        #handle {
            text-align: center;
        }

        /* #preparedQue {
            background-color: rgb(230, 233, 66);
        }

        #processsingQue {
            background-color: rgb(151, 250, 151);
        }

        #finishedQue {
            background-color: rgb(165, 165, 236);
        } */
    </style>
</head>

<body>
    <div id="app"></div>

    <template id="myapp">
        <div>
            <table id="zuoyeQue">
                <thead>
                    <tr>
                        <th style="text-align: center;" colspan="4">原始作业(属性可更改,(数据自动同步))</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>作业名称</th>
                        <th>作业进入时间</th>
                        <th>作业运行时间</th>
                        <th>作业权重</th>
                    </tr>
                    <tr v-for="(item, index) in zuoye" :key="index">
                        <td><input type="text" v-model="item.name"></td>
                        <td><input type="text" v-model.number="item.enterTime"></td>
                        <td><input type="text" v-model.number="item.processTime"></td>
                        <td><input type="text" v-model.number="item.weight"></td>
                    </tr>
                </tbody>
                <tr>
                    <th>全局作业权重随时间变化量:
                    <td><input type="text" v-model.number="weightChange"></td>
                    </th>
                </tr>
                <tr>
                    <td colspan="4"><button @click="addZuoye">创建一条新的作业</button></td>
                </tr>

            </table>
            <br>
            <div id="handle">
                <p>运行时间:{{totalProcessTime}}</p>
                <button onclick="javascript:location.reload()">
                    运行完毕后请重置
                </button>
                <button @click="sortZuoye">
                    运行时间加1
                </button>
                <button @click="sortZuoyeAll">
                    直接运行至结果
                </button>
                <br>
                <br>
            </div>
            <br>
            <div id="guocheng" v-if="showGuocheng">
                <table id="sortedZuoyeQue">
                    <thead>
                        <tr>
                            <th style="text-align: center;" colspan="3">待进行处理的作业(通过进入时间排序)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>作业名称</th>
                            <th>作业进入时间</th>
                            <th>作业运行时间</th>
                            <th>权重</th>
                        </tr>
                        <tr v-for="(item, index) in sortedZuoye" :key="index">
                            <td>{{item.name}}</td>
                            <td>{{item.enterTime}}</td>
                            <td>{{item.processTime}}</td>
                            <td>{{item.weight}}</td>
                        </tr>
                        <tr v-if="sortedZuoye.length==0">
                            <th>
                                <h5>此时无进程在队列!</h5>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <br><br>

                <table id="preparedQue">
                    <thead>
                        <tr>
                            <th style="text-align: center;" colspan="6">已到达的作业</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>名称</th>
                            <th>进入时间</th>
                            <th>开始时间</th>
                            <th>已运行时间</th>
                            <th>完成所需时间</th>
                            <th>权重</th>
                        </tr>
                        <tr v-for="(item, index) in preparedZuoye" :key="index">
                            <td>{{item.name}}</td>
                            <td>{{item.enterTime}}</td>
                            <td>{{item.startTime}}</td>
                            <td>{{item.processedTime}}</td>
                            <td>{{item.processTime}}</td>
                            <td>{{item.weight}}</td>
                        </tr>
                        <tr v-if="preparedZuoye.length==0">
                            <th>
                                <h5>目前队列为空!</h5>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table id="processsingQue">
                    <thead>
                        <tr>
                            <th style="text-align: center;" colspan="6">正在进行的作业</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>名称</th>
                            <th>进入时间</th>
                            <th>开始时间</th>
                            <th>已运行时间</th>
                            <th>所需运行时间</th>
                            <th>权重</th>
                        </tr>
                        <tr v-if="processingZuoye!=null">
                            <td>{{processingZuoye.name}}</td>
                            <td>{{processingZuoye.enterTime}}</td>
                            <td>{{processingZuoye.startTime}}</td>
                            <td>{{processingZuoye.processedTime}}</td>
                            <td>{{processingZuoye.processTime}}</td>
                            <td>{{processingZuoye.weight}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <table id="finishedQue">
                <thead>
                    <tr>
                        <th style="text-align: center;" colspan="7">已完成的作业</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>作业名称</th>
                        <th>作业进入时间</th>
                        <th>作业运行时间</th>
                        <th>作业开始时间</th>
                        <th>作业完成时间</th>
                        <th>作业周转时间</th>
                        <th>作业带权周转时间</th>
                    </tr>
                    <tr v-for="(item, index) in finishedZuoye" :key="index">
                        <td>{{item.name}}</td>
                        <td>{{item.enterTime}}</td>
                        <td>{{item.processTime}}</td>
                        <td>{{item.startTime}}</td>
                        <td>{{item.finishedTime}}</td>
                        <td>{{item.turnaroundTime}}</td>
                        <td>{{item.weightedTurnaroundTime}}</td>
                    </tr>
                    <tr v-if="finishedZuoye.length==0">
                        <th>
                            <h5>目前队列为空!</h5>
                        </th>

                    </tr>
                </tbody>
            </table>
        </div>
    </template>

    <script src="./vue.global.js"></script>
    <script>
        const App = {
            template: '#myapp',
            data() {
                return {
                    zuoye: [
                        {
                            //作业名称
                            name: 'a',
                            //进入队列时间
                            enterTime: 0,
                            //完成作业需要进行处理的时间
                            processTime: 4,
                            //权重
                            weight: 1,
                            //进程状态
                            status: 'waiting',
                            //进程开始时间
                            startTime: 0,
                            //进程已处理过的时间
                            processedTime: 0,
                            //进程结束时间
                            finishedTime: 0,
                            //颜色
                            color: '#fff',
                        },
                        {
                            name: 'b',
                            enterTime: 6,
                            processTime: 5,
                            processedTime: 0,
                            weight: 8,
                            status: 'waiting',
                            startTime: 0,
                            finishedTime: 0,
                            color: '#fff',
                        },
                        {
                            name: 'c',
                            enterTime: 6,
                            processTime: 8,
                            processedTime: 0,
                            weight: 3,
                            status: 'waiting',
                            startTime: 0,
                            finishedTime: 0,
                            color: '#fff',
                        },
                        {
                            name: 'd',
                            enterTime: 2,
                            processTime: 5,
                            processedTime: 0,
                            weight: 6,
                            status: 'waiting',
                            startTime: 0,
                            finishedTime: 0,
                            color: '#fff',
                        },
                        {
                            name: 'e',
                            enterTime: 9,
                            processTime: 7,
                            processedTime: 0,
                            weight: 4,
                            status: 'waiting',
                            startTime: 0,
                            finishedTime: 0,
                            color: '#fff',
                        },
                    ],
                    sortedZuoye: [

                    ],
                    finishedZuoye: [

                    ],
                    preparedZuoye: [

                    ],
                    processingZuoye: null,
                    totalProcessTime: 0,
                    processingTimes: 0,
                    showGuocheng: false,
                    weightChange: 1,
                }
            },
            methods: {
                //添加一条作业记录
                addZuoye() {
                    this.zuoye.push({
                        name: 'default',
                        enterTime: 0,
                        processTime: 0,
                        weight: 0,
                        enterTime: 3,
                        processTime: 8,
                        processedTime: 0,
                        startTime: 0,
                        finishedTime: 0,
                        color: '#fff',
                    })
                },

                //点击运行至结果后执行的函数
                sortZuoyeAll() {
                    //循环单步执行
                    this.sortZuoye()
                    while (this.sortedZuoye.length != 0 || this.preparedZuoye.length != 0 || this.processingZuoye != null) {
                        this.sortZuoye()
                    }
                    this.showGuocheng = false
                },

                //点击单步执行后执行的函数
                sortZuoye() {
                    this.totalProcessTime++

                    this.showGuocheng = true
                    //如果运行次数为0
                    if (this.processingTimes == 0) {
                        //将zuoye深度拷贝一份,并赋值给sortedZuoye
                        this.sortedZuoye = JSON.parse(JSON.stringify(this.zuoye));
                        //按照zuoye的进入时间排序
                        this.sortedZuoye.sort((a, b) => {
                            return a.enterTime - b.enterTime
                        })
                        //加入第一条作业到processingZuoye
                        this.processingZuoye = this.sortedZuoye.shift()
                        //设置processingZuoye的开始时间
                        this.processingZuoye.startTime = this.totalProcessTime
                        this.processingZuoye.processedTime++
                    } else {
                        this.processing()
                    }
                    this.processingTimes++
                },

                //主进程
                processing() {
                    if (this.processingZuoye.startTime == 0) {
                        this.processingZuoye.startTime = this.totalProcessTime
                    }
                    //将processingZuoye的processedTime+1,weight减去设定的权重变化量
                    this.processingZuoye.processedTime++
                    this.processingZuoye.weight -= this.weightChange
                    console.log(this.processingZuoye.weight);

                    if (this.processingZuoye.weight <= 0) {
                        this.processingZuoye.weight = 0
                    }

                    //将每一个preparedZuoye的weight值加上设定的权重变化量
                    if (this.preparedZuoye != null) {
                        this.preparedZuoye.forEach(item => {
                            item.weight += this.weightChange
                        })
                    }

                    //如果processingZuoye的processedTime>=processingZuoye的processTime,将作业放到finishedZuoye
                    if (this.processingZuoye.processedTime >= this.processingZuoye.processTime) {
                        //将完成数据的最后一条的运行时间加上
                        this.totalProcessTime += this.processingZuoye.processTime
                        //添加数据的完成时刻
                        this.processingZuoye.finishedTime = this.totalProcessTime
                        //周转时间=作业完成时刻-作业到达时刻；
                        this.processingZuoye.turnaroundTime = this.processingZuoye.finishedTime - this.processingZuoye.enterTime
                        //带权周转时间=周转时间/运行时间；
                        this.processingZuoye.weightedTurnaroundTime = (this.processingZuoye.turnaroundTime / this.processingZuoye.processTime).toFixed(2)
                        this.finishedZuoye.push(this.processingZuoye)
                        this.processingZuoye = null

                    } else {
                        //如果processingZuoye的processedTime<processingZuoye的processTime,将作业放到preparedZuoye
                        this.preparedZuoye.push(this.processingZuoye)
                        this.processingZuoye = null
                    }

                    //如果sortZuoye队列里的作业的enterTime小于等于totalProcessTime,将此作业添加到preparedZuoye队列
                    this.sortedZuoye.forEach((item, index) => {
                        if (item.enterTime <= this.totalProcessTime) {
                            this.preparedZuoye.push(this.sortedZuoye.shift())
                        }
                    })

                    //将preparedZuoye按照weight从大到小排序
                    this.preparedZuoye.sort((a, b) => {
                        return b.weight - a.weight
                    })

                    //将preparedzuoye第一条作业放到processingZuoye
                    this.processingZuoye = this.preparedZuoye.shift()
                },

            },
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>